# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Node.js
node_modules/
npm-debug.log
yarn-error.log


*.env


# Ignorar archivos de configuración de ESLint
.eslintignore
.eslintrc.js
.eslintrc.json
.eslintrc.yml
.eslintrc

eslintcache